:root {
  --background: #a7d7c5;
  --form-bg: #f6fbf9;
  --heading: #212b27;
  --paragraph: #32403b;
  --placeholder: rgba(0, 0, 0, 0.5);
  --cta: #fff;
  --box: #c1e3d6;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.label {
  font-weight: 700;
  font-size: 16px;
  color: #384d6c;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_field {
  font-weight: 400;
  font-size: 16px;
  color: var(--placeholder);
  border: 2px solid #858585;
  border-radius: 6px;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  outline: none;
}
.error {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  font-weight: 600;
  color: #ff0000;
  background-color: #ffcccc;
  border-radius: 6px;
}
