.btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--cta);
    border-radius: 6px;
    transition: background-position 0.25s, background-color 0.45s;
    background: #384D6C;
    padding: 12px 30px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}